@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss/forms

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: linear-gradient(90deg,rgb(76, 255, 76),rgb(255, 255, 59));
}

.form-container {
    background: url('https://img.freepik.com/premium-photo/field-with-lightning-bolt-horizon_859228-293.jpg?w=2000') no-repeat 50% 40% / cover;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.container1{
    background: url('./Assets/background-faqs.jpg') no-repeat 50% 40% / cover; 
}
.container{
    background: rgba(208, 255, 0, 0.3);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 13px );
-webkit-backdrop-filter: blur( 13px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.maincon2{
    padding-top:50px ;
    background: linear-gradient(90deg,rgba(26, 184, 247, 0.653),rgb(255, 255, 128));
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media only screen and (max-width: 767px) {
    .maincon2{
       margin-top: 20px;
       margin-bottom: 20px;
       border-radius: 20px;
       box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    .form-container{
       border-radius: 20px;
       box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    
}

